@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600,700');
body{
    font-family: "Cormorant Garamond", serif;
    background: radial-gradient(rgb(77, 77, 77), black) no-repeat center center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}
#navigate{
    
    position: relative;
}
#topbar{
    height: 5vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    ul{
        display: flex;
        li{
            width: 100px;
        }
    }
    header{
        margin: auto;
        height: 100%;
        background: url("../img/name.svg")no-repeat center center;
        width: 200px;
        h1{
            display: none;
        }
    }
}
#social{
    background: white;
    width: 100px;
}
#menu{
    line-height: 2em;
    font-family: "Cormorant Garamond", serif;
    
    width: 250px;
    height: 95vh;
//    background: rgba(0,0,0,.5);
    position: fixed;
    top: 30vh;
    left: 2vw;
    ul{
        padding-left: 10px;
        list-style: none;
        li{
            
            a{
                transition: all 500ms;
                color: rgba(255,255,255,.4);
                text-decoration: none;
                &:hover{
                    color: white;
                }
            }
            
        }
    }
}
.cat{
    
    font-size: .9em;
    
}
.sublist{
    padding-left: 10px;
    li{
        
        a{
            font-size: .8em;
        }
    }
}
.closed{
    display: none;
}
.selected{
    font-weight: bold;
    color: white !important;
    
}

.subselect{
    font-weight: bold;
    color: white !important;
}

#logo{
    img{
            height: 80%;
        margin: auto;
    }

}
#sidestep{
    
    position: fixed;
    top: 30vh;
    z-index: 10;
    right: 5vw;

    ul{
        padding-left: 0;
        list-style: none;
        li{
            transition: all 1s;
            opacity: .2;
            color: white !important;
            font-size: 3em;
        }
    }
}

.where{
    z-index: -1;
    position: fixed;
    bottom: 5vh;
    font-size: 4em;
    margin: 0;
    h2{
        margin: 0;
        opacity: .4;
    }
}
#content{
    
    width: 70vw;
    margin: 0 auto;
    margin-top: 25vh;
}
.recentBox{
    Color: white;
    margin: 0;
    height: 100vh;
    h3{
        
    }
}

#talus{
    background: rgba(157, 44, 44, 0.56);
}
#sva{
    background: rgba(44, 105, 157, 0.56);
    
}
#pharos{
    background: rgba(44, 157, 96, 0.56);
}
#sluice{
    background: rgba(160, 136, 35, 0.56);
}
