@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
//PAGE LAYOUT
body{
    font-family: "Cormorant Garamond", serif;
    background: radial-gradient(rgb(77, 77, 77), black) no-repeat center center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}
#navigate{
    
    position: relative;
}
#topbar{
    height: 5vh;
    margin: 0;
//    display: flex;
//    justify-content: space-between;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    ul{
        width: 50px;
        list-style: none;
        padding: 0;
        li{
            width: 50px;
            opacity: .5;
            &:hover{
                opacity: 1;
            }
        }
    }
    header{
        margin: auto;
        height: 100px;
        background: url("../img/name.svg")no-repeat center center;
        width: 300px;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        h1{
            display: none;
        }
    }
}
#social{
    position: fixed;
    bottom: 5px;
    right: 5px;
    background: none;
    
    
}
#menu{
    line-height: 2em;
    font-family: "Cormorant Garamond", serif;
    
    width: 250px;
    height: 95vh;
//    background: rgba(0,0,0,.5);
    position: fixed;
    top: 30vh;
    
    ul{
        padding-left: 10px;
        list-style: none;
        li{
            
            a{
                transition: all 500ms;
                color: rgba(255,255,255,.4);
                text-decoration: none;
                &:hover{
                    color: white;
                }
            }
            
        }
    }
}
.cat{
    color: rgba(255,255,255,.4);
    font-size: .9em;
    
}
.sublist{
    padding-left: 10px;
    li{
        
        a{
            font-size: .8em;
        }
    }
}
.closed{
    display: none;
}
.selected{
    font-weight: bold;
    color: #57cca4 !important;
    
}
.subselect{
    font-weight: bold;
    color: white !important;
}
#logo{
    img{
        opacity: .3;
        width: 50px;
        margin: 5px;;
    }

}
#sidestep{
    
    position: fixed;
    top: 30vh;
    z-index: 10;
    right: 5vw;

    ul{
        padding-left: 0;
        list-style: none;
        li{
            transition: all 1s;
            opacity: .2;
            color: white !important;
            font-size: 3em;
        }
    }
}
.where{
    z-index: -1;
    position: fixed;
    bottom: 5vh;
    font-size: 4em;
    margin: 0;
    h2{
        margin: 0;
        opacity: .4;
    }
}
#content{
    width: 70vw;
    margin: 0 auto;
    margin-top: 15vh;
}
//TOPBAR

//SLIDER CONTROLS
.arw{
    position: fixed;
        top: 50%;
    img{
        width: 50px;
    }
}
#left{
    left: 250px;
}
#right{

    right: 250px;
}
.locCircs{
    display: flex;
    position: fixed;
    
}
.circ{

}

//CAROSEL
.slider{
    height: 60vh;
    cursor: pointer;
}
.recentBox{
    margin: auto;
    width: 400%;
    height: 60vh;
    color: white;
    margin: 0;

}
.textbox{
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    height: 60vh;
    vertical-align: bottom;

    h3{
        padding-left: 20px;
        text-align: left;
        font-size: 36px;
        width: 400px;
        position: absolute;
        bottom: 40px;
        margin-bottom: 0;
    }
    p{
        padding-left: 20px;
        position: absolute;
        bottom: 0;
    }
}
.fadebox{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,.6));
}
.slick-list{
//    height: 100% !important;
    
}
.slick-dots{
    color: white;
}
#talus{
    background: url("../img/talus.png") no-repeat center center;
    background-size: contain;
}
#sva{
    background: url("../img/sva.png") no-repeat center center;
    background-size: contain;
}
#pharos{
    background: url("../img/pharos.png") no-repeat center center;
    background-size: contain;
}
#sluice{
    background: url("../img/sluice.png") no-repeat center center;
    background-size: contain;
}
//About
#aboutPage{
    width: 70vw;
    height: 80vh;
    background: pink;
}

.boxone{
    width: 100%;
    height: 70vh;
    background: url("../img/telly.jpg")no-repeat center center;
    position: relative;
    background-attachment: fixed;
}
h2{
    position: absolute;
    bottom: 0px;
    left: 50px;
    font-size: 36px;
    color: white;
}
.face{
    width: 50%;
    height: 100%;
    background: url("../img/dougbw.png")no-repeat center center;
    background-size:contain;
    position: absolute;
    right: 0;
    
}
.textit{
    
}

//contact
#contactPage{
    width: 70vw;
    height: 70vh;
//    background: blue;
    form{
        width: 667px;
        background: linear-gradient(black,rgba(0,0,0,.4));
        margin: auto;
        border-radius: 3px;
        input{
            margin-top: 10px;
            margin-left: 10px;
            width: 250px;
            border: none;
            padding: 5px;
            border-radius: 3px;
            
            background: rgba(0, 0, 0, 0.8);
            font-family: "Lato", sans-serif;
            font-weight: 300;
        }
        input::placeholder{
            color: rgba(255,255,255,.6);
            
        }
        textarea{
            margin-top: 20px;
            background: rgba(0, 0, 0, 0.8);
            width: 90%;
            
            height: 200px;
            margin-left: 10px;
            border: none;
            padding: 5px;
            border-radius: 3px;
            
            
            font-family: "Lato", sans-serif;
            font-weight: 300;
        }
        textarea::placeholder{
            color: rgba(255,255,255,.6);
        }
        button{
        
            width: 20%;
            margin: 30px 40%;
            background: black;
            color: white;
            font-family: "Lato", sans-serif;
            border: 2px solid white;
            border-radius: 3px;
            padding: 10px;
            opacity: .6;
            &:hover{
                color: #57cca4 !important;
                opacity: 1;
                cursor: pointer;
                box-shadow: 0px 0px 10px 10px rgba(87, 204, 164, 0.2);
            }
            
            
        }
        
    }
}
.contactbanner{
    background: url("../img/contactbanner.png") no-repeat center center;
    background-size: contain;
    width: 667px;
    height: 200px;
}

//Documentations
.feat{
    color: white;
    width: 70vw;
    display: none;
    margin-bottom: 20vh;
}
.intro{
    height: 76vh;
    width: 100%;
    margin: 0 auto;
    header{
        
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),black);
        h2{
            font-size: 36px;
            color: white;
            height: 100px;
            position: absolute;
            bottom: 0px;
            right: 0px;
            left: 0px;
            font-weight: 800;
            margin-bottom: 0px;
            
        }
        
    }
}
.brief{
    background: black;
    margin: 0 auto;
}
.short{
    position: relative;
    height: 30vh;
    padding-top: 20%;
}
.shortDesc{
    position: relative;
    height: 30vh;
    width: 80%;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 1.4em;
    
}
.featgallery{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.showMe{
    
    display: flex;
    margin: 0 auto;
    justify-content: center;
    height: 400px;
    width: 100%;
    background-size: contain;
    margin: 50px 10px;
}
.long{
    position: relative;
    background: black;
    p{
        font-size: 18px;
        
        width: 80%;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 80px;
        a{
            color: #edb44c;
            text-decoration: none;
        }
    }
    
    
}
.longDesc{
    background: black;
    ul{
        font-size: 24px;
        list-style: none;
        padding: 0px;
        text-align: center;
        line-height: 1.5em;
    }
}
.wow{
    
    height: 40vh;
//    background: green;
    
}
.bottomgallery{
    background: black;
    display: flex;
}
.bottombig{
    height: 500px;
    width: 60%;
    background: blue;
}
.bottompicsmall{
    height: 500px;
    Width: 40%;
}
.btmsmlpic{
    width: 100%;
    height: 50%;
    background: pink;
}
.end{
    font-size: 20px;
//    transform:translateY(-80px);
    height: 100px;
    text-align: center;
    background: linear-gradient(black, rgba(0,0,0,0));
    a{
        
        width: 200px;
        margin: 0 auto;
            color: #edb44c;
            text-decoration: none;
    }
    
    
}


//Talus Doc

#tintro{
    background: url("../img/tland.png") no-repeat center center;
    background-size: contain;
    header{

        h2{
            
        }
    }
}
#tshowone{
    background: url("../img/thome.png") no-repeat center center;
}
#tshowtwo{
        background: url("../img/tnews.png") no-repeat center center;
}
#tshowthree{
        background: url("../img/tmerit.png") no-repeat center center;
}
#twow{
    height: 800px;
    background: url("../img/talusgif.gif") no-repeat center center;
    background-size: contain;
}
#tbtmpic{}
#tbtmpicone{}
#tbtmpictwo{}

//SVA Doc
#sintro{
    background: url("../img/sland.png") no-repeat center center;
    background-size: cover;
    header{
        h2{
            
            
        }
    }
}
#sshowmeone{
    background: url("../img/ssticks.png") no-repeat center center;
    background-size: contain;
}
#sshowmetwo{
        background: url("../img/OperatorBuff2.png") no-repeat center center;
    background-size:contain;
}
#sshowmethree{
        background: url("../img/logogold.png") no-repeat center center;
        background-size: contain;
}
#swow{
    height: 800px;
    background: url("../img/swow.gif") no-repeat center center;
    background-size: contain;
    cursor: pointer;
}
#sbtmpic{}
#sbtmpicone{}
#sbtmpictwo{}

//Pharos Doc
#pintro{
    background: url("../img/pharosland.png") no-repeat center center;
    background-size: cover;
    header{
        h2{
            
            
        }
    }
}
#pshowmeone{
    background: url("../img/screens.png") no-repeat center center;
    background-size: contain;
}
#pshowmetwo{
    background: url("../img/light.png") no-repeat center center;
    background-size:contain;
}
#pshowmethree{
        background: url("../img/pp6.png") no-repeat center center;
        background-size: contain;
}
#pwow{
    height: 800px;
    background: url("../img/pwow.gif") no-repeat center center;
    background-size: contain;
    cursor: pointer;
}
#pbtmpic{}
#pbtmpicone{}
#pbtmpictwo{}

//Sluice Doc

#lintro{
    background: url("../img/page3.png") no-repeat center center;
    background-size: cover;
    header{
        h2{
            
            
        }
    }
}
#lshowmeone{
    background: url("../img/livetemp.png") no-repeat center center;
    background-size: contain;
}
#lshowmetwo{
        background: url("../img/mockup.png") no-repeat center center;
    background-size:contain;
}
#lshowmethree{
        background: url("../img/48hrtemp.png") no-repeat center center;
        background-size: contain;
}
#lwow{
    height: 800px;
    background: url("../img/page2.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
}
#lbtmpic{
    background: url("../img/bottomsluice.png")no-repeat center center;
    background-size: contain;
}
#lbtmpicone{
    background: url("../img/personas.png")no-repeat center center;
    background-size: contain;

}
#lbtmpictwo{
    background: url("../img/mock2.JPG")no-repeat center center;
    background-size: contain;
}



//3D Projects
.threed{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    background: linear-gradient(rgba(0,0,0,.3), black);
    height: 80vh;
    width: 75vw;
//    position: relative;
}
.threedimgs{
    height: 70%;
    width: 95%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin: 50px auto;
    
}
.twosmall{
    text-align: center;
    width: 40%;
    height: 100%;
    img{
       
        height: 48%;
        margin: 10px;
        padding: auto;
    }
}
.onebig{
    margin-left: 5px;
//    height: 100%;
    position: relative;
    width: 60%;
    

}
.bigguy{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-height: 100%;
    width: 100%;
    margin: auto;
    background: rgba(0,0,0,.6);
}
.threedtext{
    background: black;
    text-align: center;
    padding: 10px;
    h2{
        text-align: center;
    }
    p{
        font-weight: 300;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: #939393;
        margin: 0 auto;
        &:hover{
            color: white;
        }
    }
}







































